<div class="header">
  <div class="header__logo">
    <a routerLink="">FactoryDash</a>
  </div>
  <nav class="header__nav">
    <ul class="header__links">
      <li class="header__link">Прием заказов</li>
      <li class="header__link">Управление квотами</li>
      <li class="header__link"><a routerLink="schedule-plan">Календарное планирование</a></li>
      <li class="header__link">Комбинирование заказов</li>
      <li class="header__link">Графикование</li>
      <li class="header__link">Составление ССЗ</li>
    </ul>
  </nav>
</div>
<router-outlet>
