<h2 class="title">Требуют внимания</h2>
<div class="chart_container">
  <div class="scheduleChart-container">
    <div>
      <p>Плановый OTIF</p>
      <div id="otif"></div>
    </div>
    <div>
      <p>Уравни запасов</p>
      <div id="level"></div>
    </div>
    <div>
      <p>Обязательный горячий посад, %</p>
      <div id="posad"></div>
    </div>
  </div>
</div>
<h2 class="title">Загрузка агрегатов</h2>
<div class="chart_container">
  <div id="machines"></div>
  <ag-grid-angular></ag-grid-angular>
</div>

