
.title {
  margin-top: 130px;

  font-size: 32px;
  text-align: center;
}

.chart_container{
  display: flex;
  justify-content: center;

  min-height: 250px;

  margin: 50px 50px 0 50px;

  div {
    margin: 0 20px;
  }
}

.scheduleChart-container {
  display: flex;
  justify-content: center;

  min-height: 250px;

  margin: 250px 50px 0 50px;

  div {
    min-height: 180px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
  }
}

p {
  font-size: 20px;
}
