<div class="subheader">
  <nav class="subheader__nav">
    <ul class="subheader__links">
      <li class="subheader__link">Загрузка агрегатов</li>
      <li class="subheader__link">Плановый OTIF</li>
      <li class="subheader__link">Уровни запасов</li>
      <li class="subheader__link">Загрузка кампаний</li>
      <li class="subheader__link">Плановый OTIF</li>
    </ul>
  </nav>
</div>
<div>
  <div class="scheduleChart-container">
    <div>
      <p>Плановый OTIF</p>
      <div id="otif"></div>
    </div>
    <div>
      <p>Уравни запасов</p>
      <div id="level"></div>
    </div>
    <div>
      <p>Загрузка кампаний</p>
      <div id="load"></div>
    </div>
    <div>
      <p>Обязательный горячий посад, %</p>
      <div id="posad"></div>
    </div>
  </div>
</div>
